<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% if title %}{{ title }} &mdash; {% endif %}Ecolect</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Montserrat">
		<link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
		<script src="{{ '/assets/main.js' | url }}" defer></script>
	</head>
	<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
		<header>
			<div class="page-section">
				<section id="header-main-nav">
					<a href="{{ '/' | url }}" class="primary-logo">
						Ecolect
					</a>
					<div class="header-main-nav-spacer"></div>
					<a href="https://www.npmjs.com/package/ecolect">NPM</a>
					<a href="https://github.com/aholstenson/ecolect-js">Github</a>
				</section>
				{% block hero %}
				{% endblock %}
			</div>
		</header>

		<main>
			{% block main %}
				{{ layoutContent | safe }}
			{% endblock %}
		</main>

		<footer></footer>
	</body>
</html>
