
<ul class="site-toc">
{% for section0 in collections.sections %}
	<li>
		<a href="{{ section0.url | url }}">{{ section0.data.title }}</a>
		{% if id == section0.data.id or section == section0.data.id %}
			<ul>
				{% for page in collections[section0.data.id] | sort_by_position %}
					<li>
						<a href="{{ page.url | url }}">{{ page.data.title }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endfor %}
</ul>
