
.calendar-month {
	&__header {
		text-align: center;
		border-bottom: 1px solid #ddd;

		line-height: calc(var(--line-height) * 2);
	}

	&__day {
		text-align: center;
	}

	&__day--other-month {
		color: #888;
	}

	&__day--today {
		background: #ddd;
	}

	&__day--selected {
		background: #444 !important;
		font-weight: bold;
		color: #fff;
	}
}
