html {
	overflow-y: scroll;
}

header {
	background: #fff;
	color: #444;

	@media (--large-and-up) {
		body.no-header-hero & {
			position: sticky;
			top: 0;
			z-index: 100;
		}
	}
}

.page-section {
	padding: 0 var(--line-height);

	@media (--medium-and-up) {
		max-width: 1200px;
		margin: 0 auto;
	}
}

#header-main-nav {
	display: flex;

	padding: calc(var(--line-height) / 2) 0;

	a {
		color: #444;

		&:not(:first-child) {
			padding-left: 0.5rem;
		}
	}

	> .primary-logo {
		text-decoration: none;

		font-family: var(--heading-font-family);
		font-weight: 400;
		font-style: inherit;
		font-size: var(--h3-font-size);

		&:hover {
			text-decoration: underline;
		}
	}
}

.header-main-nav-spacer {
	flex: 1;
}

.header-main-nav-section {
	display: flex;
}

.header-main-nav-section-divider {
	width: 24px;
	height: 24px;

	> path {
		fill: rgba(255, 255, 255, 50%);
	}
}

.header-main-nav-section-link {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

#header-section {
	max-width: 900px;
	margin: 0 auto;

	padding-bottom: var(--line-height-x2);

	text-align: center;

	h1 {
		margin-top: 0;
		margin-bottom: var(--line-height);
	}
}

.call-out-section {
	padding-top: calc(var(--line-height-x2) + var(--line-height) / 2);
	padding-bottom: var(--line-height-x2);

	text-align: center;

	font-size: var(--h3-font-size);
}

.site-toc {
	list-style: none;
	margin: 0;
	padding: 0;

	> li > a {
		font-size: 1.22rem;
		line-height: calc(var(--line-height) * 1.2);

		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-left: 1.22rem;

		> li > a {
			font-size: 1rem;
			line-height: calc(var(--line-height) * 1.2);

			text-decoration: none;
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.page-link-section:not(:empty) {
	padding: 2px 5px;
	border-radius: 3px;

	background: #9FA8DA;
	color: #fff;

	font-size: 0.78em;
}
